@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
header a{
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}
@keyframes circle-in-top-right {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at top right);
    }
  }

body{
    animation: 3.5s cubic-bezier(.25, 1, .30, 1) circle-in-top-right both;
    animation-delay: 150ms;
}

body
{
background: #D1CAA1;
}
header
{
    z-index: 999;
    padding-top: 20px;
    position: fixed;
    background-color: #D1CAA1;
    position: -webkit-sticky;
    top: 0;
    Left: 0;
    height: 70px;
    width: 100%;
    max-width: 1920px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}

header .logo
{
    left: 15px;
    top: 10px;
    position: absolute;
    max-width: 180px;

}
.nav-menu
{
    position: absolute;
    display: flex;
    right: 15px;
    top: 22px;
}
.nav-menu li
{
    list-style: none;
    
}
.nav-menu li a 
{
    display: inline-block;
    color: #383b53;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.8s;
}
.nav-menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.nav-menu li a:hover::after {
    width: 100%;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #333;
    transition: all 0.3s ease;
}
@media only screen and (max-width: 1024px)  {
    .hamburger{
        position: absolute;
        top: 20px;
        right: 15px;
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px)rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);
    }
    .nav-menu{
        height: 100%;
        background-color: #D1CAA1;
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: left;
        width: 60%;
        transition: 0.3s;
        
    }
    .nav-item{
        margin: 16px 0;
        border-bottom: 1px solid #333;
    }
    .nav-menu.active{
        right: 0;
    }
}
#contact-phone{
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 35px;
    border: none;
    width: 50px;
    font-size: 20px;
    height: 50px;
    border-radius: 100%;
    background-color: green;
    box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
    transition: ease-in-out 0.5s;
}

#contact-phone:hover{
    transform: scale(1.20);
}

.sci{
    z-index: 100;
    position: fixed;
    top: 50%;
    right: 1px;
    transform: translateY( -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
.sci li
    {
    list-style: none;
    transition: 0.5s;
    }
.sci li a
    {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
    transition: 0.2s;
    }
.sci li:hover{
    transform: scale(1.25);
}

#main{
    margin-top: 70px;
    position:sticky;
    width: 100%;
    height: 900px;
    background-image: url("../img/mainimg.jpg");
    background-size: cover;
    box-shadow: 1px 11px 24px 3px rgba(66, 68, 90, 1);
}

.textBox{
    position:absolute;
    right: 20%;
    top:30%;
    width: 400px;
    height: 350px;
    display:block;
    z-index: 50;
    color: white;
}
@media only screen and (max-width: 700px) {
    .textBox {
        text-align: left;
        left: 5%; 
        width: 250px;
    }}

.textBox h2{   
    color: #f5f8d3;
    font-size: 4em;
    Line-height: 1.4em;
    font-weight: bold;
    }
.textBox p{
    font-weight: bold;
    font-size: 22px;
}

.textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #494331;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    Letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s linear;
    box-shadow: 0 0 1em #333;
    margin-bottom: 20px;
}
 .textBox a:hover{
    border-color: #582C4D;
    transform: scale(1.05);
    box-shadow: 0 0 2em #333;
}

footer{
    background-color: #D1CAA1;
    bottom: 0;
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
}
footer span{
    margin-right: 10px;
}
#kafle{
    color: #383b53;
    font-weight: bold;
    text-align: center;
    height: 750px;
}
#kafle h3{
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#uslugi{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    justify-content: center;
  align-content: center;
}


.box-info{
    height: 300px;
    text-align: center;
    box-shadow: 5px 5px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 20px;
}
#contact{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    color: #fff;
    height: 350px;
    width: 100%;
    background-size: cover;
    background-image: url(../img/ffflurry.svg);
    box-shadow: -1px -11px 24px -3px rgba(66, 68, 90, 1);
}
#contact h5{
    letter-spacing: 4px;
    color: #EDEADB;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact span{
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;

}
#contact a{
    text-decoration: none;
    color: #fff;
}
iframe{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 20px;
}


@media only screen and (max-width: 700px) {
    #kafle{
        
        height: 2200px;
    }
    #contact{
        grid-template-columns: 90%;
        height: 700px;
    }
    #map{
        bottom: 10px;
    }
    iframe{
        width: 300px;
        height: 175px;
    }
    #uslugi {
        margin-top: 140px;
        grid-template-columns: 80%;
    }}

    .hidden{
        
        opacity: 0;
        transition: all 1s;
        transform: translateX(-100%);
        filter: blur(5px);
    }
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
        
    }

    @media(prefers-reduced-motion){
        .hidden{
            transition: none;
        }
    }

    .box-info:nth-child(1){
        transition-delay: 200ms;
    }
    .box-info:nth-child(2){
        transition-delay: 400ms;
    }
    .box-info:nth-child(3){
        transition-delay: 600ms;
    }
    .box-info:nth-child(4){
        transition-delay: 200ms;
    }
    .box-info:nth-child(5){
        transition-delay: 400ms;
    }
    .box-info:nth-child(6){
        transition-delay: 600ms;
    }
@media only screen and (max-width: 1024px) {
        
        .box-info:nth-child(1){
            transition-delay: 0ms;
        }
        .box-info:nth-child(2){
            transition-delay: 0ms;
        }
        .box-info:nth-child(3){
            transition-delay: 0ms;
        }
        .box-info:nth-child(4){
            transition-delay: 0ms;
        }
        .box-info:nth-child(5){
            transition-delay: 0ms;
        }
        .box-info:nth-child(6){
            transition-delay: 0ms;
        }
    }
